button {
    text-decoration: none;
    padding: 20px 25px;
    text-align: center;
    border: none;
    border-radius: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
    text-align: center;
    color: #e8e6e3;
    background-color: #16181a;
}


h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #e8e6e3;
}

body {
    background-color: #131516;
    border-color: #736b5e;
}



a {
    padding: 35px 50px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 15px;
    margin-inline: 5px;
    margin-block: 5px;
    color: #e8e6e3;
    background-repeat: no-repeat;
    background-size: cover;
}



.game {
    position: relative;
    display: flex;
    width: 110px;
    height: 110px;
    
  }

.Game-list {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 5px;
  padding-bottom: 10px;
  border-radius: 15px;
  margin-inline: 6px;
}


#game1 {
    background-image: url(projects/minecraft-15/grass.png);
}

#game2 {
    background-image: url(projects/DogeMiner/favicon.ico);
}

#game3 {
    background-image: url(projects/learntofly/learntofly.png);
}
#game4 {
    background-image: url(projects/learntofly2/learn-to-fly-2.jpg);
}
#game5 {
    background-image: url(projects/tiny-fishing/tiny-fishing.png);
}
#game6 {
    background-image: url(projects/basket-random/BasketRandom.png);
}
#game7 {
    background-image: url(projects/basketball-stars/assets/images/basketball-stars.png);
}
#game8 {
    background-image: url(projects/1v1lol/logo.png);
}
#game9 {
    background-image: url(projects/bitlife/logo.png);
}



a:hover {
    color: #ceccc9;
}
